.flat
  margin: 150px 0
  &-block
    padding: 100px 0px
    background-color: #EEEFF1
    position: relative
    &:first-child
      margin-bottom: 100px
      .filled-card
        right: 0px
      img
        right: calc((100vw - 240px) / 10)
    &:last-child
      .filled-card
        left: 0
      .flat-wrapper, .flat-title
        margin-left: 50%
  .filled-card
    background-color: rgb(250, 250, 250)
    width: 320px
    position: absolute
    top: 0px
    height: 100%
  img
    position: absolute
    top: 100px
    z-index: 1
  &-title
    @extend .title
    margin-bottom: 50px
  &-wrapper
    max-width: 50%
    width: 50%
    &>*:not(:last-child)
      margin-bottom: 40px
    &__title
      font-weight: 500
      font-size: 32px
      line-height: 42px
      color: #111111
    &__text
      font-size: 16px
      line-height: 22px
      color: #111111
      width: 75%
    &__link
      @extend .button
      min-width: 250px
