.footer
  background-color: #0b2647
  padding: 50px 0px 40px 0px
  *
    color: #ffffff
  &-top
    margin-bottom: 115px
    .container
      display: flex
      justify-content: space-between
    &__wrapper
      display: inherit
      flex-basis: 60%
      justify-content: space-between
  &-list
    &__item
      margin-bottom: 12px
      &__link
        font-weight: 500
        font-size: 14px
        line-height: 14px
        color: #FAFAFA
  &-action
    margin-left: 305px
    &__link
      width: 210px
      @extend .button
  &-bottom
    .container
      display: flex
      justify-content: space-between
    &__text
      font-size: 14px
      line-height: 14px
      color: #FAFAFA
