#news-page
  .news
    &-title
      font-weight: 900
      font-size: 60px
      line-height: 60px
      color: #111111
      text-transform: none
      padding: 150px 0px
      @media (max-width: $md4+px)
        padding: 100px 0px 50px
        font-size: 35px
        line-height: 35px
.news
  padding: 100px 0
  &-list
    &__item:first-child > div > a
      border-top: 1px solid rgba(#111111, .2)
    &__link
      padding: 0 120px
      transition: .15s background-color linear
      position: relative
      a
        padding: 20px 0px
        height: 100%
        width: 100%
        display: flex
        justify-content: space-between
        border-bottom: 1px solid rgba(#111111, .2)
        font-size: 16px
        line-height: 16px
        color: #111111
      &:hover
        background-color: #eeeff1
        transition: .15s background-color linear
        .news-list__preview
          display: block
    &__preview
      position: absolute
      top: 0
      right: 30%
      display: none
      cursor: pointer
    &__more
      @extend .list-flat__link
      margin-top: 30px
