@import 'variables'
@import 'mixins'
@import 'null'
@import 'fonts'

::-webkit-scrollbar-button
  background-image: url('')
  background-repeat: no-repeat
  width: 5px
  height: 0px

::-webkit-scrollbar-track
  background-color: transparent

::-webkit-scrollbar-thumb
  -webkit-border-radius: 0px
  border-radius: 0px
  background-color: $c-sec

::-webkit-scrollbar-thumb:hover
  background-color: $c-active

::-webkit-resizer
  background-image: url('')
  background-repeat: no-repeat
  width: 5px
  height: 0px

::-webkit-scrollbar
  width: 5px

.container
  max-width: $maxWidthContainer+px
  margin: 0px auto
  @media ( min-width: 1540+px )
    max-width: 1440px
  @media ( max-width: $md1+px )
    max-width: 970px
  @media ( max-width: $md2+px )
    max-width: 750px
  @media ( max-width: $md3+px )
    max-width: none
    padding: 0px 20px

.visible
  display: none

.main
  height: 100vh
  color: #ffffff
  background-image: url('../img/main.jpg')
  background-repeat: no-repeat
  background-size: cover
  z-index: -12
  &-text
    position: absolute
    top: 50%
    color: #fafafa
    z-index: 1
    @media ( max-width: $md4+px )
      width: calc( 100% - 40px )
    h1
      font-weight: 900
      margin-bottom: 30px
      +adaptive-font(60, 30)
      @media ( max-width: $md4+px )
        margin-bottom: 20px
    h2
      font-weight: bold
      +adaptive-font(20, 18)
    &__link
      @extend .button
      display: none
      margin-top: 40px
      @media ( max-width: $md4+px )
        display: block
  &-flat
    background-image: url('../img/main-flat.jpg')

#house-page .main-subtitle
  line-height: 24px

.house
  padding: 100px 0px 150px
  &>.container
    display: flex
    flex-wrap: wrap
  &-wrapper
    flex-basis: calc(50% - 50px)
    @media ( max-width: $md3+px )
      flex-basis: 100%
    &__description
      color: #111111
    &__images
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      @media ( max-width: $md4+px )
        align-items: flex-start
      >picture
        margin-bottom: 50px
      img, picture
        width: 100%
    &:first-child
      margin-right: 100px
      @media ( max-width: $md3+px )
        margin-right: 0
      .house-wrapper__description
        font-weight: 500
        +adaptive-font(32, 25)
        line-height: 42px
        @media ( max-width: $md3+px )
          margin-bottom: 35px
    &:last-child
      .house-wrapper__description
        font-size: 16px
        line-height: 22px
        margin-bottom: 20px
  &-inner
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 30px 0px 50px
    @media ( max-width: $md2+px )
      padding: 30px 0px
  &-block
    display: flex
    flex-direction: column
    @media ( max-width: $md2+px )
      flex-basis: 50%
      margin-bottom: 20px
    @media ( max-width: $md3+px )
      flex-basis: 25%
      align-items: center
    @media ( max-width: $md4+px )
      flex-basis: 50%
      align-items: start
    &__number
      font-weight: bold
      font-size: 40px
      line-height: 40px
      margin-bottom: 10px
    &__text
      font-size: 14px
      line-height: 14px

input[type=submit]
  -webkit-appearance: none

@import 'header'
@import 'about'
@import 'gallery'
@import 'flat'
@import 'proposal'
@import 'footer'
@import 'popup'
@import 'settings'
@import 'presentation'
@import 'location'
@import 'features'
@import 'team'
@import 'news'
@import 'single'
