@import 'variables'
@import 'mixins'
@import 'null'
@import 'fonts'

::-webkit-scrollbar-button
  background-image: url('')
  background-repeat: no-repeat
  width: 5px
  height: 0px

::-webkit-scrollbar-track
  background-color: transparent

::-webkit-scrollbar-thumb
  -webkit-border-radius: 0px
  border-radius: 0px
  background-color: $c-sec

::-webkit-scrollbar-thumb:hover
  background-color: $c-active

::-webkit-resizer
  background-image: url('')
  background-repeat: no-repeat
  width: 5px
  height: 0px

::-webkit-scrollbar
  width: 5px

.container
  max-width: $maxWidthContainer+px
  margin: 0px auto
  @media ( min-width: 1540+px )
    max-width: 1440px
  @media ( max-width: $md1+px )
    max-width: 970px
  @media ( max-width: $md2+px )
    max-width: 750px
  @media ( max-width: $md3+px )
    max-width: none
    padding: 0px 20px

.visible
  display: none

.main
  height: 100vh
  color: #ffffff
  background-image: url('../img/main.jpg')
  background-repeat: no-repeat
  background-size: cover
  z-index: -12
  &-text
    position: absolute
    top: 50%
    color: #fafafa
    z-index: 1
    @media ( max-width: $md4+px )
      width: calc( 100% - 40px )
    h1
      font-weight: 900
      margin-bottom: 30px
      +adaptive-font(60, 30)
      @media ( max-width: $md4+px )
        margin-bottom: 20px
    h2
      font-weight: bold
      +adaptive-font(20, 18)
    &__link
      @extend .button
      display: none
      margin-top: 40px
      @media ( max-width: $md4+px )
        display: block
  &-flat
    background-image: url('../img/main-flat.jpg')
@import 'header'
@import 'about'
@import 'gallery'
@import 'flat'
@import 'proposal'
@import 'footer'
@import 'popup'
@import 'settings'
